# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(f"First element: {tup[0]}")
print(f"Middle element: {tup[len(tup) // 2]}")
print(f"Last element: {tup[-1]}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(f"First three element: {tup[:3]}")
print(f"Last three element: {tup[-3:]}")
print(f"Index 2 to 5: {tup[2:6]}")

First three element: (1, 2, 3)
Last three element: (8, 9, 10)
Index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [3]:
tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix: ")
for rows in tpl:
    print(rows)

print(f"The element at second row and third coulumn is: {tpl[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at second row and third coulumn is: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [4]:
tpl_1 = (1,2,3)
tpl_2 = (4,5,6)
concatenate_tuple = tpl_1 + tpl_2 
print(concatenate_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [10]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [11]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [13]:
lst = [1,2,3,4,5]
lst_to_tpl = tuple(lst)
print(lst_to_tpl)
print(type(lst_to_tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [14]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [15]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
new_tpl = tuple(lst)
print(new_tpl)
print(type(new_tpl))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [18]:
string = "Hello"
tpl = tuple(string)
print(tpl)
joined_string = "".join(tpl)
print(joined_string)

('H', 'e', 'l', 'l', 'o')
Hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [28]:
tpl_dict = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tpl_dict)
for key, value in tpl_dict.items():
    print(f"{key}:{value}")

{(1, 2): 3, (4, 5): 6, (7, 8): 9}
(1, 2):3
(4, 5):6
(7, 8):9

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [30]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [36]:
tpl = (1,2,4,5,1,1,2,2,3,3,3,10,10,10,11,7,6,74,10,8,9)
tpl_to_set = set(tpl)
print(tpl_to_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 74}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:
def tpl_func(tpl):
    minimum = min(tpl)
    maximum = max(tpl)
    sum_of_ele = sum(tpl)
    print(f"Minimum: {minimum}")
    print(f"maximum: {maximum}")
    print(f"sum_of_ele: {sum_of_ele}")

tpl = (1,2,3,4,5)
tpl_func(tpl)

Minimum: 1
maximum: 5
sum_of_ele: 15

# Thank You!