# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
set1 = set(range(1,11))
print(set1)
print(type(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
set1.add(11)
print(set1)
set1.remove(1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [14]:
set1 = set(range(1,6))
print("set 1: ",set1)

set2 = set(i for i in range(1,11) if i % 2==0)
print("set 2: ", set2)

## union operation:
set_union = set1.union(set2)
print(f"Union of sets: {set_union}")

## intersection of sets:
set_intersection = set1.intersection(set2)  
print(f"Intersection of Sets: {set_intersection}")

## set difference
set_difference = set1.difference(set2)
print(f"set difference: {set_difference}")

set_difference1 = set2.difference(set1)
print(f"set difference: {set_difference1}")

## symmetric difference
set_symmetric_diff = set1.symmetric_difference(set2)
print(f"Symmetric difference: {set_symmetric_diff}")

set_symmetric_diff1 = set2.symmetric_difference(set1)
print(f"Symmetric difference: {set_symmetric_diff1}")

set 1:  {1, 2, 3, 4, 5}
set 2:  {2, 4, 6, 8, 10}
Union of sets: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection of Sets: {2, 4}
set difference: {1, 3, 5}
set difference: {8, 10, 6}
Symmetric difference: {1, 3, 5, 6, 8, 10}
Symmetric difference: {1, 3, 5, 6, 8, 10}

In [22]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [17]:
## Sets are unordered collection of data that means it has no index for elements
set_1 = {1,2,3,4,5}
try:
    set_1[1]
except TypeError:
    print("TypeError: 'set' object is not subscriptable i.e sets are unordered collections so no indexes")

TypeError: 'set' object is not subscriptable i.e sets are unordered collections so no indexes

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [21]:
squares = {item**2 for item in range(1,11)}
print(squares)
print(type(squares))

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
<class 'set'>

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [23]:
set1 = set(range(1,11))
even = {item for item in set1 if item % 2 == 0}
print(even)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [24]:
s = {1,2,3,4,4,5,5,8,1,1,10}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5, 8, 10}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [28]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}

print(set2.issubset(set1))
print(set1.issuperset(set2))

True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
# Sets are unordered mutable collection of elements
# Where Frozenset are immutable ordered collection of elements

fs = frozenset(range(1, 6))
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [32]:
try:
    fs.add(4)
except AttributeError:
    print("AttributeError: 'frozenset' object has no attribute 'add'")

AttributeError: 'frozenset' object has no attribute 'add'

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [33]:
set1 = set(range(1,6))
print(set1)
lst = list(set1)
print(lst)
lst.append(6)
set1 = set(lst)
print(set1)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
try: 
    d = {
    {1,2}: 3,
    {4,5}: 6,
    {7,8}: 9}
    print(d)
except TypeError:
    print("TypeError: unhashable type: set")

TypeError: unhashable type: set

In [40]:
d = {
    frozenset({1,2}): 3,
    frozenset({4,5}): 6,
    frozenset({7,8}): 9
}
print(d)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [41]:
s = set(range(1,6))
for elem in s:
    print(elem)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
s = set(range(1,6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [44]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [48]:
s = {range(1,6)}
print(s)
print(type(s))
print(3 in s)
print(7 in s)

{range(1, 6)}
<class 'set'>
False
False

In [49]:
s = set(range(1,6))
print(s)
print(type(s))
print(3 in s)
print(7 in s)

{1, 2, 3, 4, 5}
<class 'set'>
True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [50]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}